@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes header {
    from {
        opacity: 0;
        transform: translateX(-10%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

body {
    background: radial-gradient(#307fff, white);
    margin: 10% 12%;
    font-size: 120%;
}

h2 {
    background-color: #555454;
    color: white;
    padding: 2%;
    text-align: center;
    border-radius: 30px;
    animation: fade-in 1.5s ease-in forwards;
}

.dropdown-btn {
    align-self: center;
    background-color: #555454;
    text-align: center;
    border-radius: 30px;
    width: 100%;
}

#individualResultsButton {
    background-color: transparent;
    border: none;
}

#individualResultsButton h2 i.fa-caret-down {
    transition: transform 0.3s ease;
}

#individualResultsButton.down h2 i.fa-caret-down {
    transform: rotate(180deg);
}

#galleryButton {
    background-color: transparent;
    border: none;
}

#galleryButton h2 i.fa-caret-down {
    transition: transform 0.3s ease;
}

#galleryButton.down h2 i.fa-caret-down {
    transform: rotate(180deg);
}

#teamResultsButton {
    background-color: transparent;
    border: none;
}

#teamResultsButton h2 i.fa-caret-down {
    transition: transform 0.3s ease;
}

#teamResultsButton.down h2 i.fa-caret-down {
    transform: rotate(180deg);
}

header {
    text-align: center;
    a {
        animation: header 1s ease-out;
        margin-left: -10%;
        margin-bottom: 5%;
        display: block;
        color: black;
        padding: 10%;
        text-align: left;
        text-decoration: none;
    }
    h1:hover {
        font-weight: bolder;
    }
}

.summary {
    padding: 5%;
    margin: 2%;
    background-color: white;
    border-radius: 30px;
    h3 {
        color: black;
        text-align: left;
        padding: 10px;
    }
}

footer {
    font-style: italic;
    font-size: small;
    margin: 10% 0;
    p {
        font-weight: bold;
    }
    address {
        font-style: italic;
    }
    a {
        color: black;
        text-decoration: none;
    }
}

main p {
    font-style: italic;
}

nav {
    display: grid;
    text-align: center;
    ul {
        padding: 0;
        list-style: none;
    }
    ul li:first-child {
        display: none;
    }
    li {
        margin: 1% 0;
        img {
            border-radius: 50%;
            width: 30%;
        }
    }
    a {
        border: 3px solid #00509e;
        background-color: #00509e;
        color: white;
        text-decoration: none;
        padding: 5px;
        border-radius: 10px;
        display: block;
    }
    .first-link:hover {
        background-color: #00509e;
    }
    a:hover {
        background-color: #307fff;
        font-size: 110%;
    }
}

div.athlete {
    border: 1px solid;
}

span.athlete {
    font-weight: bold;
}

.athlete {
    font-weight: normal;
}

#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: solid 2px black;
    font-size: 16px;
    background-color: #555454;
    color: white;
    padding: 20px;
    border-radius: 30px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#backToTopBtn:hover {
    background-color: #000000;
}

.athlete-div {
    background-color: #00509e;
    border: 2px solid #00509e;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5% 0;
    h3 {
        color: white;
        grid-column-start: 1;
        grid-column-end: -1;
        margin: auto;
        margin-bottom: 10%;
    }
    figure {
        text-align: center;
        font-weight: bold;
        grid-row: 1/span 2;
        img {
            width: 100%;
            border-radius: 10px;
            margin: 10%;
        }
    }
    dl {
        padding: 20%;
        color: white;
        grid-row: 1/span 2;
        margin: 10px 20%;
        align-content: space-evenly;
        dt {
            text-decoration: underline;
            font-weight: bold;
        }
        dd {
            margin-left: 8px;
        }
    }
    .top-right {
        justify-self: start;
    }
}

#galleryContent {
    display: grid;
    gap: 15px;
    justify-items: center;
    align-items: center;
}

#gallery img {
    width: 70%;
    height: auto;
    border-radius: 8px;
    animation: fade-in 1.5s ease-in forwards;
}

/* Prefers Reduced Motion */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation: none !important;
        transition: none !important;
    }
}

/* High Contrast Mode */
@media (prefers-contrast: more) {
    body {
        background-color: black;
        color: white;
    }
    h2,
    header a,
    header h2,
    footer a,
    nav a,
    #backToTopBtn,
    #galleryButton, 
    #teamResultsButton,
    #teamResultsButton {
        background-color: white;
        color: black;
        border-color: black;
    }
    .athlete-div,
    .athlete-div dl {
        background-color: white;
        color: black;
    }
    @keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
            background-color: black;
            color: white;
        }
    }
}

@media (min-width: 700px) {
    body {
        margin-top: 0px;
        font-size: 100%;
    }
    header a {
        padding: 1%;
        font-style: italic;
    }
    nav {
        font-size: 120%;
        background-color: #00509e;
        border-radius: 30px;
        padding-top: 2%;
        padding-bottom: 2%;
        margin-top: 0px;
        margin-bottom: 5%;
        margin-left: -12%;
        margin-right: -12%;
    }
    nav ul {
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0;
    }
    nav ul li:first-child {
        display: block;
    }
    nav li {
        flex: 1;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
            border-radius: 50%;
            width: 70%;
            margin-bottom: 10px;
        }
    }
    nav a {
        display: block;
        padding: 20px;
        border: 3px solid #00509e;
        background-color: #00509e;
        color: white;
        text-decoration: none;
        border-radius: 10px;
        transition: background-color 0.3s ease;
        text-align: center;
    }
    nav a:hover {
        background-color: #307fff;
        font-size: 100%;
    }
    .athlete-div {
        margin: 5% 20%;
        dl {
            dd {
                margin-left: 5px;
            }
        }
        figure {
            text-align: center;
            font-weight: bold;
            grid-row: 1/span 2;
            img {
                width: 50%;
                border-radius: 10px;
                margin: 10%;
            }
        }
    }
}